@font-face {
    font-family: 'Qua';
    font-style: normal;
    src: url("fonts/UglyQua.ttf");
}

@font-face {
    font-family: 'Qua';
    font-style: italic;
    src: url("fonts/UglyQua-Italic.ttf");
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    src: url("fonts/HelveticaNowText-Regular.ttf");
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    src: url("fonts/HelveticaNowText-Bold.ttf");
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    src: url("HelveticaNowText-RegIta.ttf");
}

@font-face {
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: bold;
    src: url("HelveticaNowText-BoldItalic.ttf");
}

.material-symbols-outlined
{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 90px;
}

body
{
    font-family: 'Helvetica';
    font-size: 1em;
    -webkit-text-size-adjust: 300%;

    background-color: rgb(36, 36, 36);
    color: #ffc644;
}

p
{
    color: rgb(239, 239, 239);
    line-height: 1.75;
}

h1, h2
{
    font-family: 'Qua';
    font-size: 6.5em;
    font-weight: normal;
    line-height: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2
{
    font-size: 4.5em;
    padding-top: 40px;
}

h3
{
    font-family: 'Helvetica';
    font-size: 1.2em;
    font-weight: bold;
}

h5
{
    font-family: 'Helvetica';
    font-size: 0.84em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -18px;
}

h6
{
    font-family: 'Helvetica';
    font-size: 1.2em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2;
    margin-top: 25px;
    margin-bottom: 25px;
}

a
{
    color: inherit;
    text-decoration: none;
}

header
{
    margin-bottom: 90px;
}

footer
{
    display: flex;
}

/* @media screen and ((max-width: 700px) or (orientarion: portrait))
{
    h1
    {
        font-size: 10px;
        color: red;
    }
} */

.center
{
    display: block;
    margin: auto;
    text-align: center;
}

.button
{
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;

    /* border: 2px solid white; */
    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 12px 15px;

    /* outline: 2px solid rgba(255, 199, 68, 0);
    outline-offset: -2px;
    outline-width: 2px; */

    background: linear-gradient(to bottom, #ffc644 0%, #ffc644 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 4px;
    transition: background-position 0.4s, background-size 0.35s, color 0.2s, border-color 0.2s;

    cursor: pointer;
    user-select: none;
}

.button:hover
{
    background-position: 0 0%;
    background-size: 100% 100%;
    color: rgb(36, 36, 36);
    transition: background-position 0.2s, background-size 0.35s, color 0.3s, border-color 0.3s;
}

.button:active
{
    background-position: 0 0%;
    background-size: 100% 4px;
    color: #ffc644;
    border-color: #ffc644;
    transition: background-position 0.25s, background-size 0.35s, color 0.1s, border-color 0.1s;
}

.link
{
    padding-bottom: 4px;
    padding-top: 4px;
    background: linear-gradient(to bottom, #ffc644 0%, #ffc644 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 2px;
    transition: background-position 0.4s, background-size 0.35s, color 0.2s;

    cursor: pointer;
    user-select: none;
}

.link:hover
{
    background-position: 0 0%;
    background-size: 100% 100%;
    color: rgb(36, 36, 36);
    transition: background-position 0.2s, background-size 0.35s, color 0.3s;
}

.link:active
{
    background-position: 0 0%;
    background-size: 100% 2px;
    color: inherit;
    transition: background-position 0.25s, background-size 0.35s, color 0.1s;
}

.nav
{
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    height: 85px;
    position: sticky;
    top: 0px;
    background-color:rgb(36, 36, 36);
    /* background: linear-gradient(to bottom, rgba(36, 36, 36, 1) 60%, rgba(36, 36, 36, 0) 100%); */
    z-index: 10;
}

.mainNav ul
{
    list-style: none;
    /* position: sticky; */
    
    /* text-align: center; */
    /* margin: auto; */
    /* width: 100%; */
    /* margin-top: 20px; */
}

.mainNav ul li
{
    /* font-family: 'Helvetica';
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; */

    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    /* padding: 24px; */
}

.hamMenu
{
    display: none;
    position: sticky;
    text-align: right;
    padding-right: 6px;
    padding-top: 6px;
    top: 0px;
    z-index: 10;
    background-color: rgb(36, 36, 36);

    width: 100%;
}

.hamMenu h3
{
    position: sticky;
    display: block;
    
    /* text-align: center; */
    text-transform: uppercase;
    color: rgb(239, 239, 239);
}

@media screen and (max-width: 1560px)
{
    .nav
    {
        display: none;
    }

    .hamMenu
    {
        display: block;
    }
}

.gallery
{
    margin: auto;
    align-content: center;
    width: min(1400px, 100%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery div
{
    width: max(20vw, 340px);
    height: max(20vw, 340px);
    padding: 0px;
    margin: 20px;
    margin-bottom: 80px;
    position: relative;
}

.gallery div img
{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.gallery div div
{
    position: absolute;
    display: inline-block;

    right: 20px;
    top: -20px;
    left: -20px;
    bottom: 20px;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(to bottom, rgba(36, 36, 36, 0.7) 0%, rgba(36, 36, 36, 0.7) 100%);
    background-position: 0 -2%;
    background-repeat: repeat-x;
    background-size: 100% 0%;
    opacity: 0;
    transition: background-size 0.5s, opacity 0.5s;

    cursor: pointer;
    user-select: none;
}

.gallery div div:hover
{
    background-size: 100% 100%;
    opacity: 1;
    transition: background-size 0.3s, opacity 0.3s;
}

.gallery div div p
{
    padding: 20px;
}

.gallery div h3
{
    text-align: center;
    margin-top: 6px;
}

@media screen and ((max-width: 800px) or (orientation: portrait))
{
    .gallery div
    {
        width: 90vw;
        height: 90vw;
        margin-bottom: 160px;
    }
}

.content
{
    max-width: 1200px;
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#alignLeft
{
    text-align: left;
    margin-left: 18px;
    /* background-color: rgba(89, 43, 255, 0.575); */
}

.alignCenter
{
    text-align: center;
    /* background-color: rgba(255, 225, 0, 0.575); */
}

.alignRight
{
    text-align: right;
    margin-right: 18px;
    /* background-color: rgba(89, 43, 255, 0.575); */
}

.ytContainer
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.ytContainer iframe
{    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 2px solid;
}

.imgHeader
{
    width: 100%;
    margin: 0;
    height: 600px;
    /* height: 30vw; */
    margin-bottom: 50px;
}

.imgHeader bkg
{
    display: block;
    width: 100%;
    height: inherit;
    /* background-image: url("img/FISHGUNCover.jpg"); */
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.headerSection
{
    position: absolute;
    display: inline-block;

    width: 100%;
    height: inherit;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imgHeader h1
{
    color:rgb(36, 36, 36);
}

.imgHeader h6
{
    color:rgb(36, 36, 36);
}

.itchWidget
{
    width: min(552px, 80%);
}

.simpleGallery
{
    margin: auto;
    margin-top: 40px;
    align-content: center;
    width: min(1800px, 100%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.simpleGallery img
{
    width: min(300px, 100%);
    height: auto;
    padding: 0px;
    margin: 10px;
    margin-bottom: 10px;
    position: relative;
}

.simpleGallery div
{
    width: min(900px, 100vw);
    height: min(504px, 56vw);
    padding: 0px;
    margin: 10px;
    margin-bottom: 20px;
    position: relative;
}

.smallNav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.smallNav h3
{
    margin: 2px 20px;
}

.audio
{
    width: min(1200px, 90%);
}

.audio audio
{
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40px;
}

.audio audio h5
{
    width: 100%;
    height: 100px;
}

@media screen and ((max-width: 767px) or (orientation: portrait))
{
    .imgHeader
    {
        height: 45vw;
    }

    .imgHeader bkg
    {
        background-size: contain;
        height: 45vw;
    }

    .imgHeader h1
    {
        font-size: min(48px, 40vw);
        margin-bottom: 8px;
    }

    .imgHeader h6
    {
        font-size: min(1.2em, 2vw);
    }

    .itchWidget
    {
        width: 80%;
    }

    h1
    {
        font-size: 60px;
    }

    h2
    {
        font-size: 40px;
    }

    h6
    {
        font-size: 20px;
    }
}

#topSpace
{
    margin-top: 90px;
}

#subHeading
{
    margin-top: -8px;
}

#toggleMenu
{
    display: none;
}